{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>
        {% if q %} Related search results for "{{ q }}"
        {% else %} All Pages
        {% endif %}
    </h1>

    <ul>
        {% if q %}
            {% for entry in entries %}
                {% if q in entry %}
                    <li><a href='/{{ entry }}'>{{ entry }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for entry in entries %}
                <li><a href='/{{ entry }}'>{{ entry }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}